.descr {
  padding-top: 80px;
  padding-bottom: 64px;
}

.descr__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descr__title {
  position: relative;
  max-width: 742px;
}

@media (max-width: 990px) {
  .descr {
    padding-top: 48px;
    padding-bottom: 34px;
  }

  .descr__container {
    flex-wrap: wrap;
  }

}

@media (max-width: 768px) {
  .descr {
    padding-top: 27px;
  }

  .descr__img {
    padding: 23px 0 26px;
  }
}