@import url(./page.css);
@import url(./hero.css);
@import url(./ticker.css);
@import url(./descr.css);
@import url(./board.css);
@import url(./step.css);
@import url(./players.css);
@import url(./footer.css);

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Golos Text", sans-serif;
  --second-family: "Merriweather", sans-serif;
  --third-family: "Montserrat", sans-serif;

  --main-color: #313131;
  --accent-color: #f54932;
  --dark-color: #1f1f1f;
  --light-color: #ffffff;
  --link-color: #3057a2;
  --gray-color: #d9d9d9;
  --hover-color: #fbce51;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
